.shape {

    &.section {
        display: flex;
        justify-content: center;
        align-items: center;

        .col-left {
            position: relative;
            top: -9vh;

            display: flex;
            flex-direction: column;

            align-items: center;
            width: 50%;
            height: 100%;
            background: white;
            color: black;
            text-align: right;
            padding: 1rem;

            h3 {
                margin-top: 30vh;
                margin-bottom: 4vh;
                line-height: 5rem;
                font-size: 3.75rem;
                font-weight: 900;
                width: 80%;

            }

            p {

                width: 80%;
                margin-bottom: 4vh;
            }

            .ip-cams-button {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                width: 85%;
                height: 100%;

                .a-button {
                    margin-right: 1rem;
                }
            }


        }

        .col-right {
            position: relative;
            top: 5vh;
            width: 50%;
            height: 100%;

            img {
                width: 80%;
            }


        }
    }
}