.home {
    position: absolute;
    top: 0;
    left: 0;

    #section-1 {
        position: relative;
        top: -8vh;
        width: 100vw;
        height: 150vh;
        // border: 1px red solid;
        z-index: 9;
        display: flex;
        flex-wrap: wrap;

        border: solid 1px red;

        .col {
            min-width: 40%;
            padding: 2rem;


            border: 1px forestgreen solid;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &-left {
                // background-color: yellow;
                width: 50%;

                .wtitle {

                    font-size: 2rem;
                    font-weight: 900;
                    line-height: .8em;
                    color: #363636;
                    font-family: Catamaran;
                    vertical-align: baseline;
                    text-transform: uppercase;
                    text-align: center;

                }


                .home-service {
                    display: flex;
                    flex-direction: row;

                    justify-content: space-evenly;
                    align-items: center;
                    // border: rebeccapurple 1px solid;

                    &-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        vertical-align: middle;


                        background-color: red;

                        padding: 2rem;
                        width: 124px;
                        height: 124px;
                        margin: 1rem;
                        // box-shadow: ;
                        clip-path: circle(50% at 50% 50%);
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    .tag-wrap {
                        filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.75));
                    }

                    .home-service-infos {

                        .wsub-title {
                            font-size: 1.5rem;
                            font-weight: 700;
                            line-height: 1.2;
                            margin: 0 0 10px;
                            padding: 10px 0 0;
                            text-align: left;
                            color: #363636;
                            font-family: Catamaran;
                            vertical-align: baseline;
                            text-transform: uppercase;


                        }

                        .pservice {

                            font-size: 1rem;
                            color: #363636;
                        }
                    }
                }
            }

            &-right {
                // background-color: red;
                width: 40%;

                img {
                    position: relative;
                    top: -0.5rem;
                    padding: 0 5px;
                    // width: 100%;
                    // height: 100%;
                    width: 45vw;
                    height: 70vh;
                }
            }



        }


    }

    #section-2 {
        position: relative;
        top: -18vh;
        height: 120vh !important;
        width: 100% !important;


        z-index: 8;

        .camsection {

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 50%;
                width: 50%;
                // border: solid 1px red;
                margin: auto 3rem;
            }

            .cam-infos {


                .cam-title {
                    display: block;
                    text-align: center;
                    font-size: 2.4rem;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                p {

                    padding: 2rem;
                }

                .cam-icons {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    margin-bottom: 1rem;

                    .cam-icon {

                        text-align: center;
                        vertical-align: baseline;
                        background-color: white;
                        clip-path: circle(50% at 50% 50%);
                        color: black;

                        height: 120px;
                        width: 120px;


                        &.cam-icon--big {
                            height: 140px;
                            width: 140px;
                        }
                    }



                }

                .cam-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                }
            }
        }
    }

    #section-3 {
        position: relative;
        top: -28vh;

        z-index: 7;
        display: flex;
        flex-direction: column;

        align-items: center;

        .stitle {
            h3 {
                -webkit-tap-highlight-color: transparent;
                border-width: 0;
                color: #363636;
                font-family: Catamaran;
                font-size: 60px;
                font-weight: 900;
                line-height: .8em;
                margin: 10rem 0 2rem 0;
                padding: 0;
                text-align: center;
                text-decoration: none;
                text-indent: 0;
                text-size-adjust: none;
                vertical-align: baseline;
                text-transform: uppercase;

            }

            .sinfos {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                p {
                    display: block;
                    width: 80%;
                    text-align: center;
                    background: yellowgreen;
                    margin-bottom: 2rem;
                }

                img {
                    margin-bottom: 2rem;
                }
            }
        }

    }

    .shape {
        &.spacer-1 {
            position: relative;
            top: -46.5vh;
            z-index: 6;

        }

        &.spacer-2 {
            position: relative;
            top: -124vh;
            z-index: 5;

        }

        &.spacer-3 {
            position: relative;
            top: -183vh;
            opacity: 0.5;
            z-index: 5;

        }
    }

    #section-4 {
        position: relative;
        top: -96vh;
        z-index: 5;


        display: flex;
        flex-direction: column;

        align-items: center;

        .stitle {
            h3 {
                -webkit-tap-highlight-color: transparent;
                border-width: 0;
                color: #363636;
                font-family: Catamaran;
                font-size: 60px;
                font-weight: 900;
                line-height: .8em;
                margin: 10rem 0 2rem 0;
                padding: 0;
                text-align: center;
                text-decoration: none;
                text-indent: 0;
                text-size-adjust: none;
                vertical-align: baseline;
                text-transform: uppercase;

            }

            .sinfos {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                p {
                    display: block;
                    width: 80%;
                    text-align: center;
                    background: yellowgreen;
                    margin-bottom: 2rem;
                }

                img {
                    margin-bottom: 2rem;
                }

                .a-button {
                    min-width: 150px;
                }

                .appstores {
                    margin-bottom: 2rem;


                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin: 1rem !important;
                    }
                }
            }
        }
    }

    #section-5 {
        position: relative;
        top: -95vh;
        z-index: 6;

        .overlay-bg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2;
            background-color: rgba(31, 31, 31, 0.5);


            .col-left {
                position: relative;
                top: -9vh;

                display: flex;
                flex-direction: column;

                align-items: center;
                width: 50%;
                height: 100%;
                background: black;
                color: white;
                text-align: right;
                padding: 1rem;

                h3 {
                    margin-top: 30vh;
                    margin-bottom: 1vh;
                    line-height: 3rem;
                    font-size: 3.75rem;
                    font-weight: 800;
                    width: 60%;

                }

                p {

                    width: 80%;
                }

                img {
                    margin-top: 2vh;
                    width: 80%;
                    display: block;

                }
            }

        }
    }


    #section-6 {
        position: relative;
        top: -109vh;
        z-index: 5;

        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px blue;

        .col-left {
            position: relative;
            top: -9vh;

            display: flex;
            flex-direction: column;

            align-items: center;
            width: 50%;
            height: 100%;
            background: white;
            color: black;
            text-align: right;
            padding: 1rem;

            h3 {
                margin-top: 30vh;
                margin-bottom: 4vh;
                line-height: 5rem;
                font-size: 3.75rem;
                font-weight: 900;
                width: 80%;

            }

            p {

                width: 80%;
                margin-bottom: 4vh;
            }

            .ip-cams-button {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                width: 85%;
                height: 100%;

                .a-button {
                    margin-right: 1rem;
                }
            }


        }

        .col-right {
            position: relative;
            top: 5vh;
            width: 50%;
            height: 100%;

            img {
                width: 80%;
            }


        }

    }

    #section-7 {
        position: relative;
        top: -167.5vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .overlay-bg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 2;
            background-color: rgba(31, 31, 31, 0.5);
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .stitle {

                text-align: center;
                color: #fff;
                vertical-align: baseline;
                margin-bottom: 2rem;

                h3 {
                    font-size: 3.75rem;
                    line-height: 0.4;
                    margin-bottom: 2rem;
                }

                span {
                    font-size: 3rem;
                    line-height: 0.5;
                    margin-bottom: 2rem;
                }

            }

            .sinfos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .a-button {
                    min-width: 250px;
                }

                p {
                    text-align: center;
                    width: 100%;
                    text-align: center;
                    background: yellowgreen;
                    margin-bottom: 2rem;
                    padding: 2rem;
                }

            }
        }
    }

    #section-8 {
        position: relative;
        top: -230.5vh;
        z-index: 4;



        display: flex;
        justify-content: space-around;
        align-items: center;


        .col-right {
            position: relative;
            top: 0;

            display: flex;
            flex-direction: column;

            align-items: flex-start;
            width: 50%;
            height: 100%;
            background: white;
            color: black;
            text-align: right;
            padding: 1rem;

            h3 {
                margin-top: 30vh;
                margin-bottom: 4vh;
                line-height: 5rem;
                font-size: 3.75rem;
                font-weight: 900;
                width: 80%;
                align-self: start;
                text-align: left;

            }

            p {

                width: 80%;
                margin-bottom: 4vh;
                text-align: left;
            }

            .ip-cams-button {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 85%;
                height: 100%;

                .a-button {
                    margin-right: 1rem;
                }
            }


        }

        .col-left {

            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            img {
                width: 80%;
            }


        }





    }

    #section-9 {
        position: relative;
        top: -230.5vh;
        z-index: 3;
        display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        .container {
            display: flex;

            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;

            h3 {


                line-height: 5rem;
                font-size: 3.75rem;
                font-weight: 900;
                width: 100%;
                color: #363636;
                line-height: 4rem;
                vertical-align: baseline;
                text-align: center;
                text-transform: uppercase;
                width: 80%;
            }

            form {
                padding: 2rem;
                background-color: #fff;
                padding: 3rem;
                vertical-align: baseline;
                margin-bottom: 2rem;
                width: 65%;
                margin: 2rem 0;
                display: flex;

                justify-content: center;
                align-items: center;

                input[type='text'] {

                    background-color: #fff;
                    border: 1px solid #e0e6ea;
                    border-radius: 4px;

                    font-size: .933333em;
                    margin: auto auto 0;
                    max-width: 100%;
                    min-height: 2.625rem;
                    min-width: 10rem;

                    padding: 0 0.8rem;
                    text-indent: 0;
                    width: 80%;
                    margin: auto 0;
                }


            }

            .a-button {
                min-width: 200px;
                margin: 0;
            }
        }
    }

    #footer-1 {
        position: relative;
        top: -235.5vh;
        width: 100vw;

        margin-bottom: -235.5vh;
        z-index: 2;


        .overlay-bg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 3;
            background-color: rgba(17, 17, 17, 0.95);

            h3 {
                position: relative;
                top: 5rem;
                color: #b0b0b0;
                font-size: 3rem;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 5rem;
            }

        }


        .footer {
            position: relative;
            top: 3rem;
            margin-top: 50rem;
            color: #b0b0b0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 80%;

            // border: 1px solid yellowgreen;
            margin: 0 auto;

            &.footer-col {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 33%;


                &--title {

                    color: #fff;
                    display: block;
                    font-size: 1.1rem;
                    font-weight: 600;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;

                }

                &--body {
                    color: #fff;
                    // border: 1px solid green;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    svg {
                        vertical-align: middle;
                        margin-right: 0.4rem;
                    }

                    p {
                        text-align: justify;
                        font-size: 0.933125rem;
                        margin-bottom: 1rem;

                        padding: .3rem;
                        width: 100%;
                        min-width: 310px;

                        a {
                            display: block;

                            text-decoration: none;
                            color: gray;
                            font-size: 0.875rem;



                            &:hover {
                                color: white;
                            }
                        }

                        .phone {
                            font-size: 1rem;
                        }
                    }

                    .social-container {

                        display: flex;

                        align-items: flex-start;
                        flex-direction: row;

                        width: 100%;


                        .social-icons {
                            a {
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                text-align: center;
                                color: gray;
                                text-decoration: none;
                                margin-right: 1rem;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }

                }
            }
















        }

    }

    #footer-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        .copyright {
            color: white;
            font-size: 1rem;
            text-align: center;
        }
    }

    .app-footer {
        position: relative;
        top: -235.5vh;
        width: 100vw;

        margin-bottom: -235.5vh;
    }
}