.shape {

    &.section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .overlay-bg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 2;
            background-color: rgba(31, 31, 31, 0.5);
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .stitle {

                text-align: center;
                color: #fff;
                vertical-align: baseline;
                margin-bottom: 2rem;

                h3 {
                    font-size: 3.75rem;
                    line-height: 0.4;
                    margin-bottom: 2rem;
                }

                span {
                    font-size: 3rem;
                    line-height: 0.5;
                    margin-bottom: 2rem;
                }

            }

            .sinfos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .a-button {
                    min-width: 250px;
                }

                p {
                    text-align: center;
                    width: 100%;
                    text-align: center;
                    background: yellowgreen;
                    margin-bottom: 2rem;
                    padding: 2rem;
                }

            }
        }
    }
}